.social{
    color: rgb(255, 255, 255);
    transition: color 200ms ease-in-out;
}

.social:hover{
    color: #534f4f;
   
}

.copysymbol{
    font-size: 1.5rem;
    margin: 0px;
    vertical-align: middle;
}

.copyright:hover{
    color: #534f4f;
    transition: color 200ms ease-in-out;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    height: auto;
    background-color: rgba(11, 11, 11, 0.6);
    z-index: 1000; /* Ensure it stays above other content */
}





.links{
    display: flex;
    gap: 1.5rem;
}

.copyright{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: Anta;
    font-size: smaller;
    transition: color 200ms ease-in-out;
}

@media screen and (max-width: 568px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        place-items: center;
        text-align: center;
        gap: 1rem;
    }
    
    .copyright{
        display:block;
        width: 100%;
    }
}